* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  text-shadow: 1px 1px 1px #00000010;
  /* color: #f9f9f9; */
}

.weatherWidgetContainer {
  position: relative;
}

.weatherWidgetCardContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.weatherWidgetCardContainer .weatherWidgetCardContent {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: none;
  padding: 50px 10px;
  background: linear-gradient(180deg, #ffffff, #29abe2);
}

.weatherWidgetCardContainer .weatherWidgetCardContent.active {
  display: block;
}

.next {
  transform: translateX(-50%);
}

.wWCurrentConditionsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wWCurrentConditionsCity {
  color: #00000090;
  font-size: 13px;
}

.wWCurrentConditionsCity i {
  margin-right: 5px;
  color: #00000090;
}

.wWCurrentConditionsIcon {
  height: 180px;
}

.wWCurrentConditionsTemp {
  margin: 0 0 10px;
  font-size: 45px;
  color: #fff;
}

.wWCurrentConditionsMaxMin {
  margin: 0 0 30px;
  color: #fff;
}

.wWCurrentConditionsExtraInfoContainer {
  padding: 10px 20px;
  background: #ffffff40;
  border-radius: 40px;
}

.wWCurrentConditionsExtraInfoContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.wWCurrentConditionsExtraInfoContent span {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffffff;
}

.wWCurrentConditionsExtraInfoContent span svg {
  height: 20px;
  fill: #00000040;
}

.weatherWidgetForecastContainer {
  margin: 30px 0;
}

.weatherWidgetForecastContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff40;
  border-radius: 40px;
  padding: 20px 10px;
}

.weatherWidgetForecastCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wWWidgetForecastDate {
  font-size: 14px;
  color: #00000090;
}

.wWWidgetForecastIcon {
  height: 45px;
}

.wWWidgetForecastTemperature span {
  font-size: 11px;
  color: #fff;
}

.wWWidgetForecastTemperature  span:nth-child(2){
  color: #00000040;
}

/* back #FEF9EE

card #FEFFF8 */

.weatherWidgetDotContainer {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weatherWidgetDotContent {
  display: flex;
  justify-content: center;
  gap: 7px;
  font-size: 10px;
  color: #ffffff30;
}

.weatherWidgetDotContent .fa-solid {
  color: #fff;
}

#graph-temperature {
  width: 100%;
  height: 250px;
  background-color: #ffffff30;
}

.weatherWidgetWaveContainer img {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  opacity: 50%;
}


.weatherWidgetArrowContainer {
  display: none;
}

@media screen and (max-width: 380px) {
  
  .weatherWidgetCardContainer .weatherWidgetCardContent {
    padding: 30px 15px;
  }
  .wWCurrentConditionsMaxMin {
    margin: 0 0 20px;
  }
  .weatherWidgetForecastContainer {
    margin: 20px 0;
  }
}

@media screen and (min-width: 768px) {
  .weatherWidgetCardContainer .weatherWidgetCardContent {
  }

  .wWCurrentConditionsExtraInfoContainer {
    padding: 15px 25px;
  }

  .wWCurrentConditionsExtraInfoContent {
    gap: 30px;
  }

  .wWCurrentConditionsIcon {
    height: 230px;
  }

  .wWCurrentConditionsTemp {
    font-size: 55px;
  }

  .weatherWidgetForecastContent {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px 30px;
  }

  .wWWidgetForecastIcon {
    height: 60px;
  }

  .wWWidgetForecastTemperature span {
    font-size: 14px;
  }

  .wWWidgetForecastTemperature span:first-child {
    margin-right: 5px;
  }

  .wWCurrentConditionsCity {
    font-size: 15px;
  }

  .weatherWidgetArrowContainer {
    display: block;
  }

  .weatherWidgetArrowContent .fa-arrow-right{
    position: absolute;
    right: 5%;
    top: 50%;
    color: #fff;
    text-shadow: 1px 1px 1px #00000010;
    animation: moveRight 3s infinite;
  }

  .weatherWidgetArrowContent .fa-arrow-left{
    position: absolute;
    left: 5%;
    top: 50%;
    color: #fff;
    text-shadow: 1px 1px 1px #00000010;
    animation: moveLeft 3s infinite;
  }

  .weatherWidgetArrowContent i:hover {
    cursor: pointer;
  }

  .weatherWidgetWaveContainer img {
    bottom: -17%;
  }

  @media screen and (min-width: 900px) {
    .weatherWidgetWaveContainer img {
      bottom: -25%;
    }
  }

  @media screen and (min-width: 1170px) {
    .weatherWidgetWaveContainer img {
      bottom: -30%;
    }
  }

  /* @media screen and (min-width: 1200px) {
    .weatherWidgetWaveContainer img {
      bottom: -35%;
    }
  } */

  @media screen and (min-width: 1400px) {
    .weatherWidgetWaveContainer img {
      bottom: -40%;
  }
  }

  @keyframes moveLeft {
    0% {
      transform: translate(0);
    }
    50% {
      transform: translate(-5px);
    }
    100% {
      transform: translate(0);
    }
  }

  @keyframes moveRight {
    0% {
      transform: translate(0);
    }
    50% {
      transform: translate(5px);
    }
    100% {
      transform: translate(0);
    }
  }
}

/* 
SUN 
linear-gradient(180deg, #ffffff, #29abe2)

NOTTE
linear-gradient(0deg, rgba(62,92,125,1) 0%, rgba(17,60,105,1) 100%)

NUVOLE GIORNO 
linear-gradient(180deg, #c7e9ff, #b3c7cc)

NUVOLE NOTTE
linear-gradient(0deg, #222F3D, #3D556E)

RAIN GIORNO
linear-gradient(0deg, #cfd9df, #e2ebf0)

RAIN NOTTE
linear-gradient(90deg, #4088a9, #284e74)

NEVE GIORNO 
linear-gradient(180deg, #f5f4eb, #bce1f7)

NEVE NOTTE 

*/
